/** MAIN CSS FOR LIVETALENT.CA **/

/* ------------------------------------------
 GENERAL STYLING
--------------------------------------------- */
  * {
    margin: 0;
}

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}



@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

img {
  max-width: 100%;
/*  width: 100%;*/
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
  color: #555555;
    max-width: 100%;
  }

h1,h2 {
	font-family: 'Open Sans', sans-serif;
}

h2{
	color: #8E8E8E;
	margin: 0.5em 0 1em 1em;
  font-weight: lighter;
  border-bottom: 0.01em dotted #48AFC3;
  width: 20em;
  text-transform: uppercase;
}

/* ------------------------------------------
 INTRO STYLING
--------------------------------------------- */
.slogan, #steps{
	color: #fff;
	margin-left: 10%;
	float: right;
	background-color: rgb(247,147,29);
}

.slogan, .stepsTitle {
	text-transform: uppercase;
	padding: 0.5em 2em 0.5em 1em;
}
.slogan {
	margin-top: 14%;
	width:53%;
	font-size: 2em;
	text-align: center;
	border-radius: 0.2em;
}

#steps{
	margin-top: 1%;
	margin-bottom: 2%;
  padding-bottom: 2%;
	width:53%;
	border-radius: 0.5em;
}

.stepsTitle {
		font-size: 1.2em;
    border-bottom: 0.01em dotted #fff;
    width: 15em;
}

.stepsImages{
	list-style-type: none;
	padding: 3em 2em 3em 1em ;

}


.stepsImages h4{
  margin-top: 3%;
 /* text-align: center;*/
  text-transform: uppercase;
  font-size: 0.9em;
}

.stepsImages figcaption{
	margin-top: 1%;
}



/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */
header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  background-color:#fff;
  border-bottom: .1em #B2B2B2 solid;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 3.4em;
  float: left;
  margin-left: 0.5em;
}


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav {
  height: 2.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  position: relative;
}
nav ul {
  padding: 0;
  margin-left:55%;
  width: 60%;
  height: 2.5em;
}
nav li {
  display: inline;
  float: left;
  margin-left: 10%;
}
nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
/*  text-shadow: 0.1em 0.1em 0px #B2B2B2;
*/}
nav li a {
/*  border-right: 1px solid #576979;
*/  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}
/*nav a:hover, nav a:active {
  background-color: #8c99a4;
}*/
nav a#pull {
  display: none;
}

/* ------------------------------------------
  BUTTONS STYLING
--------------------------------------------- */
.button{
	margin: 1em;
  width: 3em;
  text-transform: uppercase;
}

.button a:hover{
	 color: #F7931D;

}

.button a{
  color: #8E8E8E;
}

.signUp, .getStarted{
	margin-top:1em;
  background-color: #48AFC3;
  border-radius: 0.5em;
  color: #fff;
  text-transform: uppercase;
}

.signUp a, .getStarted {
  color: #fff;
  width: 8em;
  text-align: center;

}

.signUp a:hover , .getStarted:hover{
 background-color: #8E8E8E;
  border-radius: 0.5em;
  color: #fff;
}
.hireMeButton{
  position: relative;
  top: 5em;
  color: #48AFC3 !important;
  border: 0.11em #48AFC3 solid;
}

.hireMeButton:hover {
  color: #fff !important;
  background-color: #48AFC3;
}

.hireMeButton2{
  position: relative;
  top: 2em;
  background-color: #fff;
  color: #F7931D;
  text-transform: uppercase;
   border-radius: 0.5em;
  padding:0.5em 3em;
  text-decoration: none;
  font-weight: bolder;
  border: 0.11em #F7931D solid;
}

.hireMeButton2:hover {
  color: #fff !important;
  border: 0.11em #fff solid;
  background: #166877;
}


.areas-learnMore, .hireMeButton{
  border-radius: 0.5em;
  padding:0.5em 1em;
  text-decoration: none;
}

.areas-learnMore{
  margin-top:0.3em;
  text-align: center;
/*  margin-left: 2em;
*/  background-color: #fff;
  color: #F7931D;
  border: 0.11em #F7931D solid;
  display: inline-block;
  width: 70%;
  text-align: center;
}

.areas-learnMore:hover{
  background-color: #F7931D;
   color: #fff;

}

.getStarted{
  text-align: center;
  text-decoration: none;
  padding: 1em;
  width: 10em;
  color: #fff;
}

.getStartedButton {
  margin-top: 1em;
  z-index: 999;
}


.rightButton {
  float: left;
  margin-left: 65%;
}

.centreButton {
  float: left;
  margin-left: 43%;
}

/* ------------------------------------------
  BACKGROUND IMAGES
--------------------------------------------- */

#profile-img{
	background: url("../img/background-profile.png") no-repeat left fixed; 
}

#landing-img{
  background: url("../img/bg-01.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ------------------------------------------
  SECTIONS STYLING
--------------------------------------------- */

#intro{
	z-index: 999;
}
#areas, #professionals, #whyUs, #hireTalent ,#mainArea{
	background-color: #fff;
	width: 100%;
	float: left;
}

#areas h2
{
  padding-top: 4%;
}

.jobDes{
    color: #8E8E8E; 
    width: 80%;
    margin:0 auto;
}

.ratings{
/*  margin-top: 1.5em;*/
  width: 45%;
  margin-left: 12%;
 /* margin:0 auto;*/
}

#professionals a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #8E8E8E;
}

#professionals h2{
  padding-top: 5%;
} 

#hireTalent {
    border-bottom:  0.01em dotted #48AFC3;
    padding-bottom: 3em;
    width: 100%
}
#hireTalent h2{
    margin: 3% auto;
    width: 35em;
    padding: 1em;
    border-bottom: none;
    border-top: 0.01em dotted #48AFC3;
    font-size: 1.8em;
    font-weight: bolder;

}

#professionalsImages{
  margin-left: 15%;
  width: 100%;
}
#whyUs h2 {
  padding-top:7%;
}

#whyUs{
  color: #8E8E8E;
}

#whyUs h4{
  text-transform: uppercase;
    padding-top:1em;
}

.whyUsReasons {
  width: 90%;
  margin-left: 15%;
}

.whyUsReasons img {
  padding-top: 1em;
}

#hireTalent h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #166877;
}

#hireTalent{
  text-align: center;
  background-color-color: #fff;

}

/* ------------------------------------------
 TALENT AREA  AND PROFESSIONAL AREA FLIP BOX
--------------------------------------------- */
.areas-flip-box-container,.professionals-flip-box-container{
	margin: 1% 0 0 1%;
  perspective: 56em;
  -webkit-perspective:56em; /* Chrome, Safari, Opera */
}

.areas-flip-box-container:after,.professionals-flip-box-container:after{
 content: '';
  display: block;
  clear: both;
}

.areas-flip-box, .professionals-flip-box{
  position: relative;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.areas-flip-box {
  height: 12em;
  width: 100%;
  border: 0.2em #F7931D solid;
  border-radius: 0.5em;
  padding: 3em 1em 3em 1em;
  display: flex;
  margin-bottom: 4%;
}
.professionals-flip-box {
  height:18.5em;
  width: 80%;
}

.areas-front{
  margin-left: auto;
    margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.areas-front, .areas-back,.professionals-front, .professionals-back {
  position: absolute;
  top: 0;
 /* left: 0;*/
  /*width: 10em;
  height: 10em;*/
  backface-visibility: hidden;
}
.areas-front, .areas-back{
    padding: 0.5em 1em 0.5em 1em;
}

.areas-front,.professionals-front {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  display: block;
  clear: both;
  text-transform: uppercase;
  margin:0 auto;
  color: #8E8E8E;
  width: 88%;
  padding-top: 1em;
}
.areas-front figcaption{
  font-size: 1.1em;
  margin-top: .5em;
}
.areas-back, .professionals-back {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  display: block;
  clear: both;
}

.professionals-back {
  border: 0.1em #F7931D solid;
  border-radius: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  height: 20em;
  margin-top: 1em;
}

.areas-back p, .professionals-back p {
  width: 100%;
  text-align: left;
  margin-bottom: 2em;
}
.professionals-back p {
  text-transform: none;
  color: #555;
}

.areas-flip-box-container:hover .areas-flip-box, .professionals-flip-box-container:hover .professionals-flip-box {
  transform: rotateY(180deg);
}

.areas-back,.professionals-back {
  transform: rotateY(180deg);
}
.professionals-des-ratings {
/*    position: relative;
*/    margin-top:10%;
    text-transform: uppercase;
}

/* ------------------------------------------
 LINES STYLING
--------------------------------------------- */

.blueLine, .orangeLine {
	width: 30%;
}

.blueLine{
	border-top: 0.5em #F7931D solid;
}

.orangeLine{
	border-top: 0.5em #48AFC3 solid;
}


.blueLine figure,  .orangeLine figure {
	/*text-align: center;*/
}
.blueLine figcaption,  .orangeLine figcaption{
  width: 70%;
  margin-top: 0.5em;
  margin-left: 25%;
}
.blueLine h4{
	color: #F7931D;
}
.orangeLine h4{
	color: #48AFC3;
}

.blueLine p ,.blueLine h4, .greenLine h4, .greenLine p, .yellowLine h4, .yellowLine p, .orangeLine h4, .orangeLine p{
	text-align: left;
}

.blueLine figure, .orangeLine figure, .greenLine figure, .yellowLine figure{
	text-align: center;
}
/* ------------------------------------------
 MISC STYLING
--------------------------------------------- */
.centreElements{
   margin-left: 10%;
   margin-top: 2%;
   width: 100%;
}


/* ------------------------------------------
 FOOTER
--------------------------------------------- */

footer {
  background-color: #166877;
   bottom:0;
   width:100%;
   padding: 2em 2em 0.2em 2em;
  position: relative;
  clear:both;
}

/* ------------------------------------------
 FOOTER NAVIAGATION
--------------------------------------------- */
#secondaryNav{
  list-style-type: none;
  line-height: 1.4em;
   margin-left: 2em;
}
#secondaryNav h3 {
  color: #fff;
  margin-bottom: 1em;
  font-size: 1em;
}
#secondaryNav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}

#secondaryNav a:hover{
  text-decoration: underline;;
}

#copyright{
  color: #fff;
  text-align: center;
  margin-top: 1em;
  font-size: 0.7em;
}

/* ------------------------------------------
SIGN UP POP UP
--------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 4em auto;
  padding: 1.25em;
  background-color: #fff;
  border-radius: 0.5em;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3 {
  margin-top: 0;
}

.popup h2{
  text-transform: uppercase;
  border-bottom: #B2B2B2 0.01em solid;
}
.popup .close {
  position: absolute;
  top: 0.8em;
  right: 1em;
  transition: all 200ms;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #B2B2B2;
}
.popup .close:hover {
  color: #166877;
}

.popup .content {
  max-height: 40%;
  overflow: auto;
  padding-bottom: 1em;
  color: #555;
}

.popup .content p{
  font-size: 0.9em;
  font-style: italic;
  margin-top: 1.5em;
}


.businessButton, .freelancerButton{
  text-decoration: none;
  padding: 0.5em;
  color: #fff;
  border-radius: 0.5em;
  position: relative;
  top: 1em;
  text-transform: uppercase;
  display: inline-block;
  width: 8em;
  text-align: center;
}

.businessButton{
  background-color: #F7931D;
}

.businessButton:hover{
  border: 0.11em #F7931D solid;
  background-color: #fff;
  color: #F7931D;
}

.freelancerButton {
  background-color: #48AFC3;
}

.freelancerButton:hover{
  border: 0.11em #48AFC3 solid;
  background-color: #fff;
  color: #48AFC3;
}


/* ------------------------------------------
 SEARCH BAR
--------------------------------------------- */
input{
  margin-top: 15%;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  background: #ededed url("../img/finalIcons/search.png") no-repeat 9px center;
  border:solid 1px #ccc;
  padding:.5em 0.6em .5em 3em;
  width:3.4em;
  -webkit-border-radius:10em;
  -mox-border-radius:10em;
  border-radius:10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus{
  width:8em;
  outline:0;
  background-color:#fff;
  border-color:#6dcff6;
  -webkit-box-shadow:0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow:0 0 5px rgba(109,207,246,.5);
  box-shadow:0 0 5px rgba(109,207,246,.5);
}

/* ------------------------------------------
 PROFILE PAGE STYLING
--------------------------------------------- */

#profileMainArea{
margin-top: 10%;
margin-left: 2%;
}

#profileMainArea section{
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

#profileMainArea p{
  margin-top: 1%;
}

.sectionTitle{
  color: #48AFC3;
  text-transform: uppercase;
  border-bottom: #B2B2B2 0.1em dotted;
}

.nameHeader{
   background-color: #48AFC3;
  color: #fff;
  width: 100%;
  height: 7em;
  padding: 1em;
  border-radius: 0.5em;
}

.personName{
  font-size: 3em;
  text-transform: uppercase;
}

#profile-sidebar{
   box-sizing: border-box;
    padding-left: 1em;
    z-index: 999;
    position: fixed;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

#profile-sidebar li{
  list-style-type: none;
  margin-top: 0.5em; 
}



#profile-sidebar a {
  text-decoration: none;
  color: #48AFC3;
}

#profile-sidebar a:hover {
  color: #F7931D;
}

#serExpInd h3{
  font-size: 1.1em;
  color: #B2B2B2;
  margin-top: 1%;
}

#serExpInd li{
  list-style-type: none;
  margin-left: 1%;
  margin-right: 2%;
  font-size: 0.9em;
}
#serExpInd li:before {
    content: "• ";
    color: #48AFC3; /* or whatever color you prefer */
}

#experience li{
  list-style-type: none;
  margin-top: 1%;
}

#freelancerLocation figcaption{
  display: inline-block;
  font-size: .7em;
  font-weight: lighter;
}

.icons{
  margin-top:2%;
}

.icons li{
  list-style-type: none;
   display: inline-block;
   margin:0 auto;
}

.blueBorder{
    border: 0.2em #48AFC3 solid;
  border-radius: 0.5em;
}


/* ------------------------------------------
 MOBILE RESPONSIVENESS
--------------------------------------------- */

/* SMARTPHONES */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


h2{
  width: 10em;
  text-align: center;
}
#intro{
  margin-top: 60%;
}

.slogan {
  font-size: 1.5em;
} 
#steps, .slogan {
  width: 100%;
 margin-left: 1.3%;
  background-color: rgba(247,147,29,.6);
}

.stepsImages{
  text-align: center;
  margin-bottom: 4%;
}

.button{
  position: relative;
  margin-left:  20%;
}

.areas-flip-box {
  width: 80%;
}

.blueLine, .orangeLine{
  margin-top: 4%;
  width: 60%;
}


.popup {
  width: 90%;
  float: left;
}
.popup .content{
  text-align: center;
}

.whyUsReasons{
  width: 80%;
  margin-left: 5%;
}
 nav ul {
    display: none;
    height: auto;
    text-align: center;
  }

  nav li{
    margin-right: -10%;
  }
  nav a#pull {
    display: block;
    background-color: #166877;
    width: 100%;
  }
  nav a#pull:after {
    content:"";
    background: url('../img/finalIcons/navIcon.png') no-repeat;
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    position: relative;
    left: 0.5em;
    top:1em;
  }


}


/* TABLETS */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

/* Styles */

}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
  nav { 
      height: auto;
      float: right;
    }
    nav ul {
      width: 80%;
    /*  display: block;*/
      height: auto;
      margin-bottom: 1em;
      margin-left: -5%;
    }
    nav li {
      width: 50%;
/*      float: left;
*/      /*position: relative;*/
    }
    nav li a {
    /*border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;*/
  }
    nav a {
/*      width: 100%;*/
      text-indent: 25px;
    }
    .logo{
    margin-left: 3em;
/*    margin-top: 3em;
*/    z-index: 999;
  }

  .signUp {
    width: 15em;
    margin-left: 3em;
  }

  input[type=search] {
    width: 10em;
  }

  input[type=search]:focus{
    width: 10em;
  }
}


/*Smartphone*/
@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }

}
